@import 'fonts.scss';
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
@mixin media($size){
    @media (max-width: #{$size}px) {
        @content;
    }
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}
.header{
    &-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 30px;
        gap: 25px;
        @include media(360){
            gap: 15px;
        }
        a{
            display: flex;
            align-items: center;
            gap: 20px;
            color: #4793FF;
            font-weight: 700;
            font-size: 25px;
            @include media(445){
                gap: 10px;
                font-size: 20px;
            } 
            @include media(360){
                font-size: 16px;
            }
            img{
                @include media(410){
                    max-width: 50px;
                }
            }
        }
        input{
            border-radius: 10px;
            background: rgba(71, 147, 255, 0.20);
            color: black;
            font-size: 16px;
            font-weight: 500;
            padding: 9px 20px;
            max-width: 238px;
            width: 100%;
            @include media(395){
                padding: 7px 13px;
                font-size: 13px;
            }
            &::placeholder{
                color: black;
            }
        }
    }
}

.main{
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        @include media(955){
            justify-content: center;
            flex-wrap: wrap;
        }
        &-left{
            max-width: 400px;
            width: 100%;
            border-radius: 20px;
            background: #FFF;
            box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
            padding: 20px;
            position: relative;
            @include media(955){
                max-width: 750px;
                width: 100%;
            }
            img{
                position: absolute;
                top: 46px;
                right: 20px;
                width: 119px;
                height: 119px;
            }
            .degree{
                font-size: 96px;
                color: #4793FF;
                font-weight: 500;
            }
            .today{
                font-size: 40px;
                margin-bottom: 31px;
                @include media(460){
                    font-size: 26px;
                }
            }
            .date, .city{
                color: #939CB0;
                font-size: 25px;
                margin-bottom: 14px;
                @include media(460){
                    font-size: 18px;
                }
            }
            .city{
               margin-bottom: 0;
            }
        }
        &-item{
            display: flex;
            align-items: center;
            gap: 20px;
            @include media(460){
                gap: 12px;
                font-size: 12px;
            }
            .title{
                color: #939CB0;
            }
            .info{
                color: black;
                font-weight: 500;
            }
            &:nth-of-type(2){
                .title{
                    margin-right: 23px;
                }
            }
            &:nth-of-type(3){
                .title{
                    margin-right: 42px;
                }
                margin-left: 8px;
                img{
                  width: 38px;
                  height: 38px;
                  margin-right: 12px;
                }
            }
            &:nth-of-type(4){
                .title{
                    margin-right: 59px;
                }
            }
        }
        &-right{
           max-width: 750px;
           width: 100%;
           border-radius: 20px;
           background: #FFF;
           box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);     
           position: relative;
           z-index: 1;
           display: flex;
           flex-direction: column;
           gap: 21px;
           padding: 22px;
           > img{
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
           }
        }
    }
}

.week-title{
    width: max-content;
    border-radius: 5px;
    background: #4793FF;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    color: white;
    margin-top: 30px;
    padding: 7px 20px;
    font-weight: 400;
    @include media(460){
        font-size: 18px;
    }
}

.week{
    display: flex;
    gap: 20px;
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    padding: 20px;
    margin-top: 7px;
    @include media(1220){
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
    &-day{
        border-radius: 10px;
        background: rgba(71, 147, 255, 0.20);
        padding: 11px 11px 13px;
        display: flex;
        flex-direction: column;
        width: 149px;
        h2{
            font-size: 18px;
            margin-bottom: 7px;
        }
        h3{
            color: #939CB0;
            font-size: 14px;
            margin-bottom: 12px;
        }
        img{
            width: 48px;
            height: 48px;
            margin-bottom: 13px;
        }
        span{
            &:nth-of-type(1){
                font-size: 18px;
                font-weight: 500;
            }
            &:nth-of-type(2){
                font-size: 13px;
                color: #939CB0;
                margin-bottom: 6px;
            }
        }
        p{
            color: #939CB0;
            font-size: 13px;
        }
    }
}